:root {
    --background-colour: white;
    --font-color: blue;
}

.dark-theme {
    --text-colour: white;
    --background-colour: black;
}

body {
    background-color: var(--background-colour);
    color: var(--text-colour);
}

/*a {*/
/*    color: var(--link-colour);*/
/*}*/